<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="DJs, Photographers, Makeup-Artists, Venues and more" />
    <meta property="og:description" content="DJs, Photographers, Makeup-Artists, Venues and more" />
    <meta property="og:type" content="website" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>servicehub</title>
    <link rel="stylesheet" href="./hstyles.css">
    
    <link rel="stylesheet" href="./bootstrap.min.css">
 
</head>

<body>
   
    <nav class="navbar navbar-expand-md bg-blue sticky-top border-bottom" data-bs-theme="dark">
        <div class="container">
            <h1>serviceHub</h1>
          <a class="navbar-brand d-md-none" href="#">
            <svg class="bi" width="24" height="24"><use xlink:href="#aperture"/></svg>
            <button class="w-10 btn btn-sm btn-primary" type="submit">POST AD FOR FREE</button>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasLabel">MENU</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
               
              <ul class="navbar-nav ms-auto justify-content-around">
                <li class="nav-item"><a class="nav-link" href="#">
                  <svg class="bi" width="24" height="24"><use xlink:href="#aperture"/></svg>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Product
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="productDropdown">
                    <li><a class="dropdown-item" href="/event-planners">Event Planners</a></li>
                    <li><a class="dropdown-item" href="/venue-setup">Venue Setup and Equipments</a></li>
                    <li><a class="dropdown-item" href="/culinary">Culinary Services</a></li>  
                    <li><a class="dropdown-item" href="/Entertainers">Professional Entertainers</a></li>
                    <li><a class="dropdown-item" href="/fun-activities">Interactive Fun activities</a></li>
                    <li><a class="dropdown-item" href="/beauty">Beauty and Decor</a></li>  
                    <li><a class="dropdown-item" href="/special-effects">Special Effects</a></li>
                    <li><a class="dropdown-item" href="/special-effects">Automation services</a></li>
                    <li><a class="dropdown-item" href="/special-effects">Engineering technicians</a></li>
                    <li><a class="dropdown-item" href="/special-effects">Construction</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/upload.html">Upload product</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Enterprise</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <a href="/register">  <button class="w-10 btn btn-sm bg-danger text-white" >POST AD FOR FREE</button></a>
             
               
                <li class="nav-item"><a class="nav-link" href="#">
                  <svg class="bi" width="24" height="24"><use xlink:href="#cart"/></svg>
                </a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      
    
    <div style="padding: 10px; " class="content1">
        <div style="padding: 20px; border: none; "class="wrapper-1">
            <div class="templateBody">
                <div class="headr-column">
                    <h1 >Event Planning and Support Services</h1>
          
    <script>
       
    </script>

<div class="category-group">
    <a class="category-group-section" href="/event-planners" title="Event planners are your fairy godparents, helping you organise everything perfectly for your dream wedding, engagement party, or memorable birthday celebration.">
        <img src="../images/event_planners.png" style="width:60px;">
        <span style="font-size: 12px; font-weight: bold;">Event Planners</span></a>

        <a class="category-group-section" href="/public-address-pa-systems" title="Clear and crisp sound is critical to successful events. Top-notch PA systems and microphones ensure everyone hears your speeches, vows, or birthday announcements.">
            <img src="/images/public_address_pa_systems_microphones.jfif" style="width:48px;">
        <span style="font-size: 12px; font-weight: bold;">Public Address Systems</span></a>
        <a class="category-group-section" href="/bouncers-security" title="Your safety is a priority. Professional security services guarantee that your wedding, engagement party, or birthday event is secured so you can focus on making beautiful memories.">
            <img src="/images/bouncers_security.jpg" style="width:90px;">
            <span style="font-size: 12px; font-weight: bold;">Bouncers / Security</span></a>
            <a class="category-group-section" href="/first-aiders" title="For peace of mind during your event, qualified first aiders are on hand to ensure the well-being of you and your guests at your wedding, engagement party, or birthday.">
        <img src="/images/first_aiders.png" style="width:52px;">
        <span style="font-size: 12px; font-weight: bold;">First Aiders</span></a>
        <a class="category-group-section" href="/road-crew-roadies" title="From setting up stages to managing sound and lights, dedicated roadies ensure a smooth and seamless event, whether a grand wedding, a lively engagement party, or an epic birthday bash.">
            <img src="/images/road_crew_roadies.jfif" style="width:62px;">
            <span style="font-size: 12px; font-weight: bold;">Road Crew (Roadies)</span></a>
            <a class="category-group-section" href="/transport-services" title="Transport services provide convenience and style. Arrive at your wedding in elegance, shuttle your guests for your engagement party, or organise a surprise birthday ride with diverse transportation options.">
            <img src="/images/transport_services.png" style="width:62px;">
            <span style="font-size: 12px; font-weight: bold;">Transport Services</span>
        </a>
    </div>
    <div class="content1">
                <h1>Venue Setup and Equipment</h1>
            </div>
                <div class="category-group">
                    <a class="category-group-section" href="/venue-setup" title="We offer a wide array of stunning venues for your special occasions. Whether it’s a romantic garden wedding, a lively engagement party in a chic urban loft, or a fun-filled birthday bash in a grand ballroom, we’ve got the perfect place for you.">
                        <img src="/images/venues.jfif" style="width:150px;">
                        
                        <span style="font-size: 12px; font-weight: bold;">Venues</span></a>
                        <!-- <a class="category-group-section" href="/marquees" title="Beautiful marquees are the perfect solution for outdoor weddings, engagement parties, or birthday celebrations. Create a magical setting under tents that keeps the festivities going, rain or shine!">
                            <img src="/images/marquees.svg" style="width:42px;">
                            <span style="font-size: 12px; font-weight: bold;">Marquees</span></a> -->
                        <a class="category-group-section" href="/staging" title="Whether you need a grand stage for your wedding band, a platform for speeches at your engagement party, or a dedicated space for birthday games, versatile staging options have got you covered.">
                            <img src="/images/stagging.jfif" style="width:110px;">
                            
                            <span style="font-size: 12px; font-weight: bold;">Staging</span></a>
                            <a class="category-group-section" href="/dance-floors" title="Let your guests groove the night away on fabulous dance floors. Perfect for all events, whether a wedding, engagement party or birthday celebration.">
                                <img src="/images/dance-floor.jpeg" style="width:100px;">
                                
                            <span style="font-size: 12px; font-weight: bold;">Dance Floors</span></a>
                            <!-- <a class="category-group-section" href="/flooring" title="Various flooring options help create the perfect atmosphere for your event, from an elegant wedding aisle to a vibrant dance floor at an engagement party or birthday bash.">
                                <img src="/images/flooring.svg" style="width:42px;">
                                <span style="font-size: 12px; font-weight: bold;">Flooring</span></a> -->
                            <a class="category-group-section" href="/chairs" title="From chic chiavari chairs for your wedding ceremony to fun and colourful seating for a child’s birthday party, a range of chairs is designed to suit any theme or occasion.">
                                <img src="/images/chairs.jfif" style="width:130px;">
                                <span style="font-size: 12px; font-weight: bold;">Chairs</span></a>
                            <!-- <a class="category-group-section" href="/tables" title="Assortment of tables can cater to all your needs - grand banquet tables for your wedding reception, cocktail tables for your engagement party, or fun-themed tables for your kid’s birthday party.">
                                <img src="/images/tables.svg" style="width:42px;">
                                <span style="font-size: 12px; font-weight: bold;">Tables</span></a> -->
                                <!-- <a class="category-group-section" href="/cutlery" title="Add a touch of elegance to your wedding, engagement, or birthday party with a wide selection of cutlery that complements any theme or style.">
                                    <img src="/images/cutlery.svg" style="width:42px;">
                                    <span style="font-size: 12px; font-weight: bold;">Cutlery</span></a> -->
                                    <!-- <a class="category-group-section" href="/linen" title="Dress your event to impress with a beautiful selection of linens. From sophisticated wedding tablecloths to vibrant birthday party chair covers, linens can transform any space.">
                                        <img src="/images/linen.svg" style="width:42px;">
                                
                                <span>Linen</span></a> -->
                                <a class="category-group-section" href="/lighting" title="Illuminate your event with diverse lighting options. Create a romantic ambience at your wedding, a festive glow at your engagement party, or a fun party vibe at your birthday celebration.">
                                    <img src="/images/event-lighting.jpg" style="width:130px;">
                                    <span style="font-size: 12px; font-weight: bold;">Lighting</span></a>
                                    <!-- <a class="category-group-section" href="/fans-cooling" title="Stay cool at your summer event with efficient fans and cooling systems. They’re perfect for maintaining a comfortable atmosphere at weddings, engagement parties, or outdoor birthday bashes."> -->
                                        <!-- <img src="/images/fans_cooling.svg" style="width:42px;">
                                        <span style="font-size: 12px; font-weight: bold;">Fans &amp; Cooling</span></a>
                                        <a class="category-group-section" href="/heaters" title="Heaters are here to keep your guests cozy during chilly evening events. They’re essential for maintaining a warm and welcoming ambience at weddings, engagement parties, or winter birthday celebrations.">
                                            <img src="/images/heaters.svg" style="width:42px;">

                                            <span style="font-size: 12px; font-weight: bold;">Heaters</span></a>
                                            <a class="category-group-section" href="/fencing" title="Whether it’s to define your event area or provide security and privacy, fencing options are perfect for outdoor weddings, engagement parties, or any birthday event.">
                                <img src="/images/fencing.svg" style="width:42px;">

                                <span style="font-size: 12px; font-weight: bold;">Fencing</span>
                            </a> -->
                            <a class="category-group-section" href="/portable-toilets" title="Clean and modern portable toilets ensure your guests’ comfort during your outdoor events. They are a must-have for large-scale weddings, engagement parties, and birthday celebrations.">
                                <img src="/images/toilets.jfif" style="width:100px;">
                                <span style="font-size: 12px; font-weight: bold;">Portable Toilets</span></a>
                            </div>
                            <div class="content1">
                                    <h1>Culinary Services</h1>
                                </div>
                                <div class="category-group"><a class="category-group-section" href="/caterers" title="We provide a diverse range of catering options for your wedding, engagement party, or birthday celebration. Caterers will work with you to create a menu that’s as unique as your event.">
                                        <img src="/images/caterers.jfif" style="width:100px;">
                                        <span style="font-size: 12px; font-weight: bold;">Caterers</span></a>
                                        <a class="category-group-section" href="/cake-designers" title="Celebrate your special day with a cake that’s as unique as you are. Cake designers will craft the perfect cake for your wedding, engagement, or birthday party.">
                                            <img src="/images/cake.jfif" style="width:90px;">
                                            <span style="font-size: 12px; font-weight: bold;">Cake Designers</span></a>
                                            <a class="category-group-section" href="/bartenders" title="professional bartenders can whip up anything from a sophisticated cocktail for your wedding reception to fun, colourful mocktails for a kid’s birthday party.">
                                                <img src="/images/bartender.jpg" style="width:100px;">
                                                <span style="font-size: 12px; font-weight: bold;">Bartenders</span></a>
                                                <a class="category-group-section" href="/portable-coolrooms" title="Keep your drinks and food fresh throughout your outdoor engagement party, wedding, or birthday event with reliable portable coolrooms.">
                                                    <img src="/images/cutlery.jfif" style="width:90px;">
                                                    
                                                    <span style="font-size: 12px; font-weight: bold;">Cutlery</span>
                                                </a>
                                            </div>
                                                    
                                                    <div class="content1">
                                                        <h1>Professional Entertainers</h1></div>
                                                        <div class="category-group">
                                                            <a class="category-group-section" href="/disc-jockeys-djs" title="Whether it’s an intimate engagement party, a grand wedding reception, or a joyous birthday celebration, DJs are skilled at reading the room and keeping the dance floor filled all night long.">
                                                                <img src="/images/dj.jfif" style="width:100px;">
                                                                <span style="font-size: 12px; font-weight: bold;">Disc Jockeys (DJs)</span></a>
                                                                <a class="category-group-section" href="/emcees-mcs" title="Charismatic emcees know how to set the mood for any event - from the formal exchange of vows at a wedding, the lively engagement party announcement, to the surprise birthday wish. They’ll make sure every moment is unforgettable!">
                                                                    <img src="/images/emcees.jfif" style="width:100px;">
                                                                    <span style="font-size: 12px; font-weight: bold;">Emcees (MCs)</span></a>
                                        <a class="category-group-section" href="/photographers" title="Capture the memorable moments of your wedding, engagement party, or birthday with professional photographers.">
                                            <img src="/images/photographer.jfif" style="width:100px;">
                                            <span style="font-size: 12px; font-weight: bold;">Photographers</span></a>
                                            <a class="category-group-section" href="/videographers" title="With experienced videographers, you can relive your special moments over and over again.">
                                                <img src="/images/videographer.jfif" style="width:100px;">
                                                <span style="font-size: 12px; font-weight: bold;">Videographers</span></a>
                                                <!-- <a class="category-group-section" href="/marriage-celebrants" title="Diverse team of celebrants are committed to personalising your wedding ceremony to make it as unique and special as your love story. They are trained to work with you to create a ceremony that truly reflects you.">
                                                    <img src="/images/marriage_celebrants.svg" style="width:42px;">
                                                    <span style="font-size: 12px; font-weight: bold;">Marriage Celebrants</span></a> -->
                                                    <a class="category-group-section" href="/live-bands" title="From soft romantic serenades during wedding ceremonies to upbeat jams at birthday parties, live bands offer diverse repertoires to suit any atmosphere.">
                                                        <img src="/images/live-band.jfif" style="width:100px;">
                                                        <span style="font-size: 12px; font-weight: bold;">Live Bands</span></a>
                                                        <!-- <a class="category-group-section" href="/musicians" title="Musicians will add a touch of elegance to your wedding, engagement party or birthday event with their soulful tunes and enchanting harmonies.">
                                                            <img src="/images/musicians.svg" style="width:42px;">
                                                            <span style="font-size: 12px; font-weight: bold;">Musicians</span></a>
                                                            <a class="category-group-section" href="/singers" title="Talented singers can deliver touching performances for your ceremony or lively sets to get your reception or party started.">
                                                                <img src="/images/singers.svg" style="width:42px;">
                                                                <span style="font-size: 12px; font-weight: bold;">Singers</span></a> -->
                                                                <a class="category-group-section" href="/dance-crews" title="Liven up your engagement party, wedding reception, or birthday party with thrilling performances from versatile dance crews, ready to mesmerise your guests.">
                                                                    <img src="/images/dance.jfif" style="width:100px;">
                                                                    <span style="font-size: 12px; font-weight: bold;">Dance Crews</span></a>
                                                                    <!-- <a class="category-group-section" href="/comedians" title="Lighten the mood and spread laughter across your event with stand-up comedians, perfect for adult birthdays or engagement parties.">
                                            <img src="/images/comedians.svg" style="width:42px;">
                                            <span style="font-size: 12px; font-weight: bold;">Comedians</span></a> -->
                                            <!-- <a class="category-group-section" href="/magicians" title="Add a dash of wonder to your event with skilled magicians. They’re perfect for keeping guests entertained during cocktail hour or as a special treat at a birthday party.">
                                                <img src="/images/magicians.svg" style="width:42px;">
                                                <span style="font-size: 12px; font-weight: bold;">Magicians</span></a> -->
                                                <!-- <a class="category-group-section" href="/face-painters" title="Bring smiles to kids’ faces at your wedding or birthday party with talented face painters. They’re also a hit for adding a fun twist to your engagement parties!">
                                                    <img src="/images/face_painters.svg" style="width:42px;">
                                                    <span style="font-size: 12px; font-weight: bold;">Face painters</span></a>
                                                    <a class="category-group-section" href="/entertainers-for-children" title="From clowns to puppeteers, children’s entertainers can turn any child’s birthday party into a magical adventure or keep the little ones entertained during a wedding reception.">
                                                        <img src="/images/entertainers_for_children.svg" style="width:42px;">
                                                        <span style="font-size: 12px; font-weight: bold;">Entertainers for Children</span>
                                                    </a> -->
                                                    </div>
                                                        <div class="content1">
                                                <h1> Automation services</h1>
                                            </div>
                                                <div class="category-group">
                                                    <a class="category-group-section" href="/process_automation" title="Spice up your event with a charming petting zoo or pony rides. They’re perfect for birthdays and are sure to captivate the hearts of both young and old at weddings too!">
                                                        <img src="/images/process.jfif" style="width:150px;">
                                                        <span style="font-size: 12px; font-weight: bold;">Process Automation</span></a>
                                                        <a class="category-group-section" href="/machine_automation" title="From traditional carnival games to modern arcade games, we offer an array of interactive fun to engage your guests at all kinds of events - engagement parties, wedding receptions, and birthday celebrations.">
                                                            <img src="/images/machine.jfif" style="width:100px;">
                                                            <span style="font-size: 12px; font-weight: bold;">Machine Automation</span></a>
                                                            <a class="category-group-section" href="/material_automation" title="Nothing screams fun at a birthday party like bouncy jumping castles. Also, consider adding one to your wedding for a fun and unique touch - it will definitely keep the kids (and some adults!) entertained.">
                                                                <img src="/images/material.jfif" style="width:100px;">
                                                                <span style="font-size: 12px; font-weight: bold;">Material Handling</span></a>
                                                                <a class="category-group-section" href="/packaging_automation" title="Balloon twisters will dazzle your guests with their skill and creativity, creating everything from delightful animals to fancy hats. They’re a hit at kids’ birthday parties and can add a touch of fun to weddings and engagement parties too!">
                                                                    <img src="/images/Packaging.jfif" style="width:100px;">
                                                                    <span style="font-size: 12px; font-weight: bold;">Packaging Automation</span></a>
                                                                    <a class="category-group-section" href="/quality_automation" title="Let your guests become the DJ for a bit with jukeboxes. Whether it’s an engagement party, a wedding, or a birthday, a jukebox is a fun and interactive addition that caters to all music tastes.">
                                                                        <img src="/images/quality.jfif" style="width:90px;">
                                                                        <span style="font-size: 12px; font-weight: bold;">Quality control Automation</span></a>
                                                                        <a class="category-group-section" href="/home_automation" title="Home automation uses the various sensors to sense parameters like temperature, pressure, motion, illumination, etc and sends these signals to central controllers">
                                                                            <img src="/images/home.jfif" style="width:100px;">
                                                                            <span style="font-size: 12px; font-weight: bold;">Home Automation</span></a>
                                                                            <!-- <a class="category-group-section" href="/photo-booths" title="Let your guests create their own memories with photo booths. They’re a fun and engaging addition to weddings, engagement parties, and birthdays, providing keepsakes that your guests will cherish.">
                                                                                <img src="/images/photo_booths.svg" style="width:42px;">
                                                                                <span style="font-size: 12px; font-weight: bold;">Photo Booths</span></a> -->
                                                                            </div>
                                                                            <div class="content1">
                                                                                    <h1>Construction Services</h1>
                                                                                </div>
                                                                                <div class="category-group">
                                                                                    
                                                                                    <a class="category-group-section" href="/concrete" title="Let professional make-up artists enhance your natural beauty for your big day. They specialise in wedding, engagement, and special occasion make-up, helping you feel confident and beautiful.">
                                                                                        <img src="/images/concrete.jfif" style="width:100px;">
                                                                                        <span>Concrete</span></a>
                                                                                        <a class="category-group-section" href="/roofers" title="Look your best on your big day with professional hairstylists. We’ve got you covered, whether it’s elegant updos for weddings, chic styles for engagement parties, or fun birthday hairstyles.">
                                                                                    <img src="/images/roofers.jfif" style="width:100px;">
                                                                                    <span style="font-size: 12px; font-weight: bold;">Roofers</span></a>
                                                                                    <a class="category-group-section" href="/electrician" title="From romantic wedding bouquets to vibrant table centrepieces at your engagement party to fun flower crowns at your birthday bash, talented florists will add a natural touch of beauty to your event.">
                                                                                        <img src="/images/electrician.jpg" style="width:100px;">
                                                                                        <span style="font-size: 12px; font-weight: bold;">Electricians</span></a>
                                                                                        <a class="category-group-section" href="/havc" title="Add a personal touch to your event with custom signs. They’re perfect for guiding guests at weddings, displaying catchy phrases at engagement parties, or celebrating the birthday star.">
                                                                                            <img src="/images/hvac.jpg" style="width:100px;">
                                                                                            <span>HAVC</span></a>
                                                                                            <a class="category-group-section" href="/mason" title="From dreamy wedding backdrops to festive engagement party streamers to fun birthday balloons, decorations will transform your venue and make your event truly unique.">
                                                                                                <img src="/images/masons.jpeg" style="width:100px;">
                                                                                        <span style="font-size: 12px; font-weight: bold;">Masons</span></a>
                                                                                        <a class="category-group-section" href="/plumbers" title="From dreamy wedding backdrops to festive engagement party streamers to fun birthday balloons, decorations will transform your venue and make your event truly unique.">
                                                                                            <img src="/images/plumbers.jpg" style="width:100px;">
                                                                                    <span style="font-size: 12px; font-weight: bold;">Plumbers</span></a>
                                                                                    </div>
                                                    <!-- <div class="content1">
                                                        <h1>Special Effects</h1>
                                                    </div>
                                                    <div class="category-group">
                                                        <a class="category-group-section" href="/confetti-cannons" title="Add an explosive moment of joy to your event with confetti cannons. They’re perfect for a grand wedding exit, the big engagement announcement, or the birthday cake cutting."><img src="/images/confetti_cannons.svg" style="width:42px;"><span>Confetti Cannons</span></a><a class="category-group-section" href="/co2-jets-guns" title="Elevate your event with CO2 jets and guns. They’re perfect for creating a nightclub feel at your engagement party or an unforgettable entrance at your wedding."><img src="/images/co2_jets_guns.svg" style="width:42px;"><span>CO2 Jets &amp; Guns</span></a><a class="category-group-section" href="/dry-ice" title="Create a dreamy and ethereal ambience at your wedding, a magical moment at your engagement party, or a fairytale scene at your kid’s birthday party with dry ice services."><img src="/images/dry_ice.svg" style="width:42px;">
                                        <span style="font-size: 12px; font-weight: bold;">Dry Ice</span></a>
                                        <a class="category-group-section" href="/fireworks" title="Make your event truly unforgettable with a stunning fireworks display. Whether it’s the grand finale of your wedding, a sparkling surprise at your engagement party, or the highlight of your birthday celebration, fireworks never fail to dazzle."><img src="/images/fireworks.svg" style="width:42px;"><span>Fireworks</span></a>
                                    </div> -->
                                </div>
   
                                        <script src="./js/hscript.js"></script>
                                    </body> 
                                       <!-- Footer -->
                                       <footer class="footer spad">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-6 col-sm-6">
                                                    <div class="footer__about">
                                                        <div class="footer__about__logo">
                                                            <a href="./index.html"><img src="img/Vitronicstech_logo5.png" alt=""></a>
                                                        </div>
                                                        <ul>
                                                            <li>Address: Nairobi</li>
                                                            <li>Phone: +254 729 704 171</li>
                                                            <li>Email: Vitronicstech@gmail.com</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                                                    <div class="footer__widget">
                                                        <h6>Useful Links</h6>
                                                        <ul>
                                                            <li><a href="about.html">About Us</a></li>
                                                            <li><a href="contact.html">Contact</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-12">
                                                    <div class="footer__widget">
                                                        <h6>Join Our Newsletter Now</h6>
                                                        <p>Get E-mail updates about our latest special offers.</p>
                                                        <form action="#">
                                                            <input type="text" placeholder="Enter your mail">
                                                            <button type="submit" class="site-btn">Subscribe</button>
                                                        </form>
                                                        <div class="footer__widget__social">
                                                            <a href="#vitronicstechnologies"><i class="fa fa-facebook"></i></a>
                                                            <a href="https://wa.me/254737921981"><i class="fa fa-whatsapp"></i></a>
                                                            <div class="footer__copyright__payment">
                                                                <img src="img/mpesa.jpg" alt=""> LIPA NA M-PESA
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="footer__copyright">
                                                        <div class="footer__copyright__text">
                                                            <p>
                                                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </footer>
                                    
</body>
</html>
                             
